<footer class="page__footer">
  <small class="page__footer--author"
    >Hecho con &#128156; por Irene Rueda Vega</small
  >
  <ul class="page__footer--social-list list">
    <li class="list__item">
      <a
        href="https://github.com/IreneRuedaVega"
        target="_blank"
        title="Github"
        class="list__item--link"
        rel="noreferrer"
      >
        <i class="fab fa-github-square"></i>
      </a>
    </li>
    <li class="list__item">
      <a
        href="//linkedin.com/in/ireneruedavega"
        target="_blank"
        title="Linkedin"
        class="list__item--link"
        rel="noreferrer"
      >
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li class="list__item">
      <a
        href="//twitter.com/Irenelandia_"
        target="_blank"
        title="Twitter"
        class="list__item--link"
        rel="noreferrer"
      >
        <i class="fab fa-twitter-square"></i>
      </a>
    </li>
  </ul>
</footer>
