<footer class="footer">
  <nav>
    <ul class="footer__social-list">
      <li>
        <a
          href="https://github.com/IreneRuedaVega"
          target="_blank"
          title="Github"
          class="footer__social-list--item"
          rel="noreferrer"
        >
          <i class="fab fa-github-square"></i>
        </a>
      </li>
      <li>
        <a
          href="//linkedin.com/in/ireneruedavega"
          target="_blank"
          title="Linkedin"
          class="footer__social-list--item"
          rel="noreferrer"
        >
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a
          href="//twitter.com/Irenelandia_"
          target="_blank"
          title="Twitter"
          class="footer__social-list--item"
          rel="noreferrer"
        >
          <i class="fab fa-twitter-square"></i>
        </a>
      </li>
    </ul>
  </nav>
  <small class="footer__author"
    >Hecho con <span class="heart">&#128156;</span> por Irene Rueda Vega</small
  >
</footer>
