<main class="main">
  <div class="main__container1">
    <article class="main__header"></article>
  </div>
  <div class="main__container2">
    <article class="main__header"></article>
  </div>
  <section class="main__wrapper">
    <article class="main__header">
      <div class="date">
        <i class="fas fa-thumbtack date__icon"></i>
        <div class="date__container calendar">
          <div class="calendar__number js-number"></div>
          <div class="calendar__date">
            <div class="calendar__date--day js-day"></div>
            <div class="calendar__date--month js-month-year"></div>
          </div>
        </div>
      </div>
    </article>
  </section>
</main>
