<main class="main">
  <div class="main__container1">
    <article class="main__header"></article>
  </div>
  <div class="main__container2">
    <article class="main__header"></article>
  </div>
  <section class="main__wrapper">
    <article class="main__header">
      <div class="main__header--day calendar">
        <div class="calendar__day js-day"></div>
        <div class="calendar__date">
          <div class="calendar__date--month js-month"></div>
          <div class="calendar__date--month js-year"></div>
        </div>
      </div>
    </article>
  </section>
</main>
