// fonts
$font-main: "Raleway", sans-serif;
/* $font-title: "Gochi Hand", cursive; */

// colors
$color-primary: #00ffc2;
$color-secondary: white;
$color-tertiary: #666567;
$color-details: #6651ab;

//breakpoints
$tablet: 768px;
$desktop: 1280px;
