// fonts
$font-main: "Raleway", sans-serif;

// colors
$color-primary: #31b189;
$color-secondary: white;
$color-tertiary: #ffc872;
$color-details: #5c2d0c;
$color-font: black;

//breakpoints
$tablet: 400px;
$desktop: 1280px;
