.page__header {
  background-color: $color-secondary;
  color: $color-tertiary;
  font-family: $font-main;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  &--title {
    font-size: 24px;
    padding: 12px;
    border-bottom: 6px solid $color-primary;
    color: $color-tertiary;
    @include desktop {
      font-size: 40px;
    }
  }

  &--img {
    font-size: 30px;
    text-align: center;
    border: 6px solid $color-primary;
    padding: 8px;
    color: $color-details;
    @include desktop {
      font-size: 46px;
    }
  }
}

.title {
  &__span {
    color: $color-details;
  }
}
