.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $color-secondary;
  padding: 15px 0;

  &__img {
    font-size: 22px;
    color: $color-secondary;
    background-color: $color-tertiary;
    padding: 10px;
  }

  &__title {
    padding: 10px;
    font-size: 24px;
    text-transform: uppercase;
    color: $color-font;
  }
}
